<input name="parcela1" type="number" ng-model="$ctrl.parcela1"/> 
+ 
<input name="parcela2" type="number" ng-model="$ctrl.parcela2"/><br/>

<button-sum 
            name="'Soma'"
            parcela1="$ctrl.parcela1" 
            parcela2="$ctrl.parcela2" 
            resultado="$ctrl.resultado">

</button-sum>

<button-subtraction 
                    name="'Subtracao'"
                    parcela1="$ctrl.parcela1" 
                    parcela2="$ctrl.parcela2" 
                    resultado="$ctrl.resultado">
</button-subtraction>

<button-division name="'Divisao'" 
                 parcela1="$ctrl.parcela1" 
                 parcela2="$ctrl.parcela2" 
                 resultado="$ctrl.resultado">
</button-division>

<button-multiplication name="'Multiplicacao'"
                       parcela1="$ctrl.parcela1" 
                       parcela2="$ctrl.parcela2" 
                       resultado="$ctrl.resultado"
></button-multiplication>


parcela1: {{$ctrl.parcela1}} <br/> 
parcela2: {{$ctrl.parcela2}} <br/>
resultado: {{$ctrl.resultado}}